@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif !important;
    /* background-image: url("../assets/banner.png"); */
    background-size: 100%;
    background-repeat: no-repeat;
}

.Menu-container{
    margin-top: 7.5rem;
}

.Menu-row{
    padding-top: 1rem;
    max-height: inherit;
}

.Menu-title{
    color: rgb(21, 22, 66);
    font-size: 3rem;
}

.Menu-button{
    height: 7.5rem;
    border-radius: 25px !important;

}

.Menu-button-text{
    font-size: 2rem;
    text-align: left;
}

.Menu-cancel{
    font-size: 4.5rem;
    color: white;
    padding-bottom: 5rem;
}

.Question-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7.5rem;
  /* background-color: aqua; */
  text-align:center;
  /* height: 100%; */
}

.Question-row-container{
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  background-color: blueviolet;
  /* float: none; */
  /* padding: 0 auto; */
}

.Question-row{
  padding-top: 1rem;
  float: none;
  min-width: 11rem;
  /* height: 50%; */
  /* margin: 0 auto; */
  background-color: brown;

  /* max-height: 8rem; */
}

.Question-col{
  /* padding-top: 1rem;
  float: none; */
  /* margin: 0 auto; */
  /* background-color: chartreuse; */
  /* max-height: 8rem; */
}

.Question-button{
  height: 50%;
  min-height: 5rem;
  width: 50%;
  min-width: 10rem;

  border-radius: 25px !important;
}

.Question-div{
  /* background-color: crimson; */
  float: none;
  margin: 0 auto;

}