@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif !important;
    background-size: 100%;
    background-repeat: no-repeat;
}


.Scoreboard-greencontainer{
    margin-top: 2.5rem;
    /* background-image: url("../assets/greenCircles.png"); */
    background-color: green;
    background-size: 10rem;
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow:2px 2px whitesmoke;
    border-radius: 25px
}


.Scoreboard-whitecontainer{
    margin-top: 2.5rem;
    background-color: white;
    background-size: 10rem;
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow:2px 2px whitesmoke;
    border-radius: 25px
}

hr {
    border:none;
    border-top:1px dotted white;
    color:#fff;
    background-color:#fff;
    height:10%;
    width:100%;
  }

.Scoreboard-row{
    padding-top: 1rem;
    max-height: inherit;
}

.Scoreboard-title{
    color: rgb(21, 22, 66);
    font-size: 3rem;
}

.Scoreboard-table{
    color:black;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Scoreboard-small{
    color:black;
    font-size: 0.8rem;
}

.Scoreboard-med{
    color:black;
    font-size: 1rem;
}

.Scoreboard-big{
    color:black;
    font-size: 1.2rem;
}

.Scoreboard-tsmall{
    color:white;
    font-size: 1rem;
}

.Scoreboard-tmed{
    color:white;
    font-size: 2rem;
}

.Scoreboard-tbig{
    color:white;
    font-size: 2.5rem;
}

.Scoreboard-button{
    height: 5rem;
    border-radius: 25px !important;
    background-color: green;
    margin-left: 50%;
}

.Scoreboard-buttontext{
    font-size: 2rem;
    text-align: center;
    color: white;
    
}

